{% extends "layout.twig" %}

{% block breadcrumbs %}
    {% set breadcrumbsList = [{url: url({controller: 'pm', action: 'reply'}, 'admin'), label: 'Tworzenie odpowiedzi'}] %}

    {% set breadcrumbsList = breadcrumbsList|merge([{url: url({controller: 'pm', action: 'view', id: message.pmid}, 'admin', true), label: 'Wiadomość: "' ~ message.subject ~ '"'}]) %}

    {% set breadcrumbsList = breadcrumbsList|merge([{url: url({controller: 'pm'}, 'admin', true), label: 'Wiadomości prywatne'}]) %}

    {{ cms.breadcrumbs(breadcrumbsList) }}
{% endblock %}

{% block helpbox %}
    {% include 'pm/_helpBox.twig' %}   
{% endblock %}

{% block stylesheets %}
<style type="text/css">
#toggle-message .expand {
    padding-left: 20px;
    background: transparent url('{{ baseUrl }}/images/admin/toggle-expand-dark.png') no-repeat left center;
}

#toggle-message .collapse {
    padding-left: 20px;
    background: transparent url('{{ baseUrl }}/images/admin/toggle-collapse-dark.png') no-repeat left center;
}
</style>
{% endblock %}

{% block content %}                   

<div class="right-side">
    <div class="content">
        <h1 id="toggle-message"><a href="#" class="collapse" title="Kliknij aby zwinąć/rozwinąć">Wcześniejsze wiadomości</a></h1>

        <div id="view-message" style="margin-bottom: 15px;">
            <h1 style="border: none; margin: 15px 0;">{{ message.subject }}</h1>
            <div style="margin: 0 0 10px 5px;">
                <div style="padding: 5px 5px 10px 5px; border-bottom: 1px solid #ccc;">
                    <a href=""><img src="{{ baseUrl }}/images/admin/panel_user.gif" class="icon" /> <strong>{{ message.sender_name }}</strong></a> napisał(a):
                    <div style="float: right; padding: 3px; color: #333;">
                        {{ message.sent_at }}
                    </div>
                </div>
                <div style="padding: 15px 5px 15px 5px; border-bottom: 1px solid #ccc;">
                    {{ message.message|raw }}
                </div>
                {% if message.attachments %}
                <div style="padding: 5px;">
                    <strong>Liczba załączników: {{ message.attachments|length }}</strong>
                    <ol style="margin-top: 5px;">
                        {% for attachment in message.attachments %}
                        <li style="list-style: none; padding: 5px;">
                            <strong>{{ attachment.name }}</strong><br/>
                            <a href="{{ attachment.url }}" target="_blank">Pobierz</a>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
                {% endif %}
            </div>
            {% if replies %}
            <h3 style="margin-left: 15px; padding-bottom: 3px; border-bottom: 1px solid #ddd;">Odpowiedzi:</h3>

                {% for reply in replies %}
                    <div style="margin-left: 15px; margin-top: 10px; background: {{ cycle(['#ddd', '#eee'], loop.index0) }};">
                        <div style="padding: 5px;">
                            <a href=""><img src="{{ baseUrl }}/images/admin/panel_user.gif" class="icon" /> <strong>{{ reply.sender_name }}</strong></a> napisał(a):
                            <div style="float: right; padding: 3px; color: #333;">
                                {{ reply.sent_at }}
                            </div>
                        </div>
                        <div style="padding: 15px 5px 15px 5px; border-top: 1px solid #ccc;">
                            {{ reply.message|raw }}
                        </div>
                        {% if reply.attachments %}
                        <div style="padding: 5px; border-top: 1px solid #ccc;">
                            <strong>Liczba załączników: {{ reply.attachments|length }}</strong>
                            <ol style="margin-top: 5px;">
                                {% for attachment in reply.attachments %}
                                <li style="list-style: none; padding: 5px;">
                                    <strong>{{ attachment.name }}</strong><br/>
                                    <a href="{{ attachment.url }}" target="_blank">Pobierz</a>
                                </li>
                                {% endfor %}
                            </ol>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        
        <div class="form">
            <a name="form"></a>
            <h1>Tworzenie wiadomości</h1>

            {{ cmsForm|raw }}

            <script type="text/javascript">
            // <[[!CDATA
                $(document).ready(function(){
                    
                $('#toggle-message a').toggle(function () {
                    $(this).removeClass().addClass('expand');
                    $('#view-message').hide();
                }, function () {
                    $(this).removeClass().addClass('collapse');
                    $('#view-message').show();
                });

                $('input[name="recipient-autocomplete"]')
                .bind( "keydown", function( event ) {
                    if ( event.keyCode === $.ui.keyCode.TAB &&
                            $( this ).data( "autocomplete" ).menu.active ) {
                        event.preventDefault();
                    }
                })
                .autocomplete({
                    minLength: 3,
                    source: '{{ url({controller: 'pm', action: 'get-autocomplete-users'}, 'admin') }}',
                    focus: function() { return false; },
                    create: function (event, ui) {
                        if($('input[name="recipient-autocomplete"]').val())
                        {
                            $.ajax({
                                url: '{{ url({controller: 'pm', action: 'get-autocomplete-users'}, 'admin') }}',
                                data: { id: $('input[name="recipient-autocomplete"]').val() },
                                type: "GET",
                                dataType: "json",
                                success: function (data) 
                                {
                                    if(data != null)
                                    {     
                                        $('input[name="recipient-autocomplete"]').val(data.label);
                                        $('input[name="recipient"]').val(data.value);
                                    }
                                }
                            });
                        }
                    },
                    select: function(event, ui) {
                        $('input[name="recipient-autocomplete"]').val(ui.item.label);

                        $('input[name="recipient"]').val(ui.item.value);

                        return false;
                    }
                });

                    $('.tabs').tabs();  

                    $('.ui-tabs-panel').each(function () {
                            var id = $(this).has('.error').attr('id');
                            var count = $(this).find('.error').size();
                            $('a[href="#'+id+'"]').append(' <em>('+ count +')</em>');
                    });

                });
            // ]]>
            </script>
        </div>
    </div>
</div>          
{% endblock %}