<label class="checkbox" style="padding-top: 5px;">
        <input type="radio" name="{{ name }}" id="{{ name }}" value="1" {% if checked %}checked="checked"{% endif %} {% if attributes %}{% for attribute, value in attributes %}{{ attribute }}="{{ value|e }}"{% endfor %}{% endif %} /> {{ option }}
</label>