{% extends "layout.twig" %}

{% block breadcrumbs %}
    {% set breadcrumbsList = [{url: url({controller: 'events', action: 'search', keyword: keyword}, 'admin'), label: 'Wyszukiwanie frazy "'~ keyword ~'"'}] %}
    {% set breadcrumbsList = breadcrumbsList|merge([{url: url({controller: 'events'}, 'admin', true), label: 'Kalendarz wydarzeń'}]) %}
    {{ cms.breadcrumbs(breadcrumbsList) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    $(document).ready(function(){    

        // Forms JavaScript

        var deleteEventsButton = $('#delete-events');

        $('#delete-events').click(function () {
             
            var actionUrl = "{{ url({controller: 'events', action: 'delete-events'}, 'admin', true) }}";
            var params    = { id: $('input[name="events[]"]').serializeArray() };
            var list      = { item: '#events_', items: '#listEvents' }

            var callback = function () {
                if($('input[name="events[]"]:checked').length == 0)
                {
                    deleteEventsButton.hide();
                }
                else
                {
                    deleteEventsButton.show();
                }
            }

            cms.delete(actionUrl, params, list, callback);

            return false;
        });

        $('a[name="delete-events"]').click(function () {
             
            var actionUrl = "{{ url({controller: 'events', action: 'delete-events'}, 'admin', true) }}";
            var params    = { id: { 0: { value: $(this).attr('rel') } } };
            var list      = { item: '#events_', items: '#listEvents' }

            var callback = function () {
                if($('input[name="events[]"]:checked').length == 0)
                {
                    deleteEventsButton.hide();
                }
                else
                {
                    deleteEventsButton.show();
                }
            }

            cms.delete(actionUrl, params, list, callback);

            return false;
        });

        $('input[name="events[]"]').change(function(){
            if($('input[name="events[]"]:checked').length == 0)
            {
                deleteEventsButton.hide();
            }
            else
            {
                deleteEventsButton.show();
            }
        });

        $('button[name="select-events"]').click(function () {      
            cms.toggleSelect('input[name="events[]"]');

            if($('input[name="events[]"]:checked').length == 0)
            {
                deleteEventsButton.hide();
            }
            else
            {
                deleteEventsButton.show();
            }
        });      
    });
    </script>
{% endblock %}
    
{% block helpbox %}
    {% include 'events/_helpBox.twig' %}
{% endblock %}

{% block content %}                   

<div class="right-side">
    <div class="content">
        <h1>Wyniki wyszukiwania wydarzeń dla frazy '{{ keyword }}':</h1>
        
        {% if flashMessages %}
        <div class="messages">
            {% for message in flashMessages %}
                <div class="message {{ message.type }}">
                    {{ message.message }}
                </div> 
            {% endfor %}
        </div>
        {% endif %}           
        
        <ol class="listView" id="listEvents">
            {% for event in events %}
            <li class="item {{ cycle(['', 'odd'], loop.index0) }}" id="events_{{ event.eid }}">
                <div class="normal">
                    <input type="checkbox" name="events[]" value="{{ event.eid }}" />
                    <a href="{{ url({ controller: 'events', action: 'view', id: event.eid }, 'admin', true) }}">{{ event.translation.title }}</a>
                    <span class="actionBox">
                        <a href="{{ url({ controller: 'events', action: 'edit', id: event.eid }, 'admin', true) }}"><img src="{{ baseUrl }}/images/admin/edit_small.png" alt="Edytuj" /> Edytuj</a> | 
                        <a href="{{ url({ controller: 'events', action: 'delete', id: event.eid }, 'admin', true) }}" name="delete-events" rel="{{ event.eid }}"><img src="{{ baseUrl }}/images/admin/delete_small.png" alt="Usuń" /> Usuń</a>
                    </span>
                </div>
                <div class="extend">
                    Autor: <strong>{{ event.user.firstname }} &lt;{{ event.user.username }}&gt; {{ event.user.lastname }}</strong> &nbsp; Data rozpoczęcia: <strong>{{ event.starting_at }}</strong> &nbsp; Data zakończenia: <strong>{{ event.ending_at|default('brak') }}</strong>
                </div>
            </li>
            {% else %}
            <li class="empty">
                <div>
                    Brak rekordów
                </div>
            </li>
            {% endfor %}
        </ol>
               
        <div style="margin-top: 15px;">
            <button name="select-events" class="button">Zaznacz/Odznacz wszystkie</button>
        </div>
    </div>
</div>

{% endblock %}